.card {
  box-shadow: var(--light-shadow);
  width: inherit;
  height: min-content;
  background: none;
}

.image-container-vert {
  height: auto;
}

.wishlist-icon-vert {
  top: 1rem;
}

.product-image {
  object-position: top;
}

.cta-btn button {
  background: var(--primary-color);
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
}

.cta-btn button:hover {
  background: var(--primary-color-a5);
}

.cta-btn button:active {
  background: var(--primary-color);
}

.vertical-text {
  line-height: normal;
  margin: 0;
}

.card-badge {
  background-color: var(--primary-color);
  color: var(--font-color-light);
  font-size: 1.2rem;
  width: 2.2rem;
  text-align: center;
}

.trash {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--clr-black);
}

.trash:hover {
  color: var(--clr-red);
}

.wishlisted {
  color: var(--clr-red);
}
