.filters {
  min-width: 220px;
  height: 100%;
  padding: 0 1.25rem;
  text-align: left;
}

.filters-title {
  font-style: normal;
  letter-spacing: 2px;
  color: var(--font-color-tint1);
  padding: 5px 0;
  margin: 0 auto 0 0;
}

.filters-title+span {
  color: var(--font-color-tint1);
  cursor: pointer;
}

.filters-title+span:hover {
  color: var(--clr-red);
}

.filter-type {
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--border-color);
}

.filter-type-title {
  color: var(--font-color-tint2);
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.filter-type-title span {
  cursor: pointer;
}

.sub-categories {
  margin: 1.25rem 0;
  color: var(--font-color-tint2);
}

.sub-categories li {
  cursor: pointer;
}

.active-sub-category {
  color: var(--primary-color);
}

.category {
  text-transform: capitalize;
  cursor: pointer;
}

.category input {
  cursor: pointer;
  margin-right: 5px;
}

.prices {
  display: flex;
  justify-content: space-between;
  color: var(--font-color-tint2);
}